<?js
const data = obj;
const self = this;
?>
<?js
    const properties = data.properties;
    if (properties && properties.length && properties.forEach) {
?>
<h5 class="subsection-title">Properties:</h5>
<?js= this.partial('properties.tmpl', properties) ?>
<?js } ?>

<?js if (data.version) { ?>
<h5 class="subsection-title">Version:</h5>
<div class="tag-version detail-message"><?js= version ?></div>
<?js } ?>

<?js if (data.since) { ?>
<h5 class="subsection-title">Since:</h5>
<div class="tag-since detail-message"><?js= since ?></div>
<?js } ?>

<?js if (data.deprecated) { ?>
<h5 class="subsection-title">Deprecated:</h5>
<div class="tag-deprecated detail-message"><?js
    if (data.deprecated === true) { ?>This symbol is deprecated.<?js }
    else { ?><?js= data.deprecated ?><?js }
?></div>
<?js } ?>

<?js if (data.author && author.length) { ?>
<h5 class="subsection-title">Author:</h5>
<ul class="tag-author detail-list"><?js author.forEach(function(a) { ?>
    <li><?js= self.resolveAuthorLinks(a) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.copyright) { ?>
<h5 class="subsection-title">Copyright:</h5>
<div class="tag-copyright detail-message"><?js= copyright ?></div>
<?js } ?>

<?js if (data.license) { ?>
<h5 class="subsection-title">License:</h5>
<div class="tag-license detail-message"><?js= license ?></div>
<?js } ?>

<?js if (data.defaultvalue) { ?>
<h5 class="subsection-title">Default Value:</h5>
<div class="tag-default detail-message"><?js= data.defaultvalue ?></div>
<?js } ?>

<?js if (data.tutorials && tutorials.length) { ?>
<h5 class="subsection-title">Tutorials:</h5>
<ul class="tag-tutorial detail-list"><?js tutorials.forEach(function(t) { ?>
    <li><?js= self.tutoriallink(t) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.see && see.length) { ?>
<h5 class="subsection-title">See:</h5>
<ul class="tag-see detail-list"><?js see.forEach(function(s) { ?>
    <li><?js= self.linkto(s) ?></li>
<?js }); ?></ul>
<?js } ?>

<?js if (data.todo && todo.length) { ?>
<h5 class="subsection-title">TODO:</h5>
<ul class="tag-todo detail-list"><?js todo.forEach(function(t) { ?>
    <li><?js= t ?></li>
<?js }); ?></ul>
<?js } ?>
