<?js
    const data = obj;
?>
<?js if (data.description && data.type && data.type.names) { ?>
<table class="params">
    <thead>
	<tr>
		<th>Type</th>	
		<th class="last">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="type">
            <?js= this.partial('type.tmpl', data.type.names) ?>
        </td>
        <td class="description last">
            <?js= data.description ?>
        </td>
    </tr>
    </tbody>
</table>
<?js } else { ?>
    <div class="param-desc">
    <?js if (data.description) { ?>
        <?js= data.description ?>
    <?js } else if (data.type && data.type.names) { ?>
        <?js= this.partial('type.tmpl', data.type.names) ?>
    <?js } ?>
    </div>
<?js } ?>
