<?js
    const data = obj;
?>
<tr>
    <?js if (data.type && data.type.names) { ?>
        <td class="type">
            <?js= this.partial('type.tmpl', data.type.names) ?>
        </td>
    <?js } ?>
    <td class="description last"<?js if (!data.type || !data.type.names) { ?> colspan="2"<?js } ?>>
        <?js if (data.description) { ?>
        <?js= data.description ?>
        <?js } ?>
    </td>
</tr>
